<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>com.disp.servlet.Index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UltraSonic</servlet-name>
		<servlet-class>com.disp.servlet.UltraSonic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UltraSonic</servlet-name>
		<url-pattern>/ultrasonic</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Camera</servlet-name>
		<servlet-class>com.disp.servlet.Camera</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Camera</servlet-name>
		<url-pattern>/camera</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Actuator</servlet-name>
		<servlet-class>com.disp.servlet.Actuator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Actuator</servlet-name>
		<url-pattern>/actuator</url-pattern>
	</servlet-mapping>
</web-app>